@model Filmiregister.Models.Films.FilmDeleteViewModel
<div style="font-size: 1.5rem;">
    <h1 style="text-align: center;">@Html.DisplayFor(model => model.FilmTitle)</h1>
    <div>
        <h4 style="text-align: center;">Details</h4>
        <hr />
        <div>
            <dl class="row">
                <div class="form-group row">
                    Category: @Html.DisplayFor(model => model.FilmCategory)<br />
                    Duration: @Html.DisplayFor(model => model.FilmDuration)<br />
                    Description: @Html.DisplayFor(model => model.FilmDescription)<br />
                    PublicationDate: @Html.DisplayFor(model => model.PublicationDate)<br />
                    @* Tähed *@
                    <span style="color: gold;">
                        @for (int i = 1; i <= 5; i++)
                        {
                            if (i <= Model.FilmRating)
                            {
                                <text>&#9733;</text>
                            }
                            else
                            {
                                <text>&#9734;</text>
                            }
                        }
                    </span>
                </div>
            </dl>
            <a asp-action="Index" asp-controller="home" class="btn btn-secondary">Back</a>
        </div>
    </div>
</div>