@model IEnumerable<Filmiregister.Models.Films.FilmIndexViewModel>
@{
    ViewData["Title"] = "Home Page";
}
@{
    int rowNumber = 1;
    int currentRow = 1;
    int currentTile = 1;
    int tilesInRow = 6;
}
<div class="h1, align-text-top">Movies</div>
<form method="post">
    <table class="table table-hover" id="tableWH">
        <tbody>
            @foreach (var movie in Model)
            {
            <td>
                <a asp-action="details" asp-controller="Films" asp-route-id="@movie.FilmID" class="btn_for_users">
                    <table class="HIT">
                        <tr><td colspan="2">@movie.FilmTitle</td></tr>
                        <tr>
                            <td colspan="2">
                                    @if (movie.FilmImage == null || !movie.FilmImage.Any())
                                    {
                                    <img src="~/lib/appset/image/Q.jpg" alt="Default Image" class="card-img-top" />
                                    }
                                    else
                                    {
                                        @foreach (var Image in movie.FilmImage)
                                        {
                                        <partial name="_ImageIndex" model="Image" />
                                        }
                                    }
                            </td>
                        </tr>
                        <tr><td>@movie.PublicationDate</td></tr>
                        <tr><td colspan="2">@movie.FilmDuration</td></tr>
                    </table>
                </a>
                    <div>
                        <p>@movie.FilmTitle</p>
                        <a asp-action="Add" asp-controller="Watchlist" asp-route-id="@movie.FilmID" asp-route-title="@movie.FilmTitle" class="btn btn-primary">
                            Add movie to watchlist
                        </a>
                    </div>
            </td>
                rowNumber++;
                if(rowNumber % 4 == 0){
                    <tr></tr>
                }
            }
        </tbody>
    </table>
</form>
